target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

Thumbs.db
.DS_Store
~*
*~
$*
*$
*.bak
*.BAK

/*
!/.gitignore
!/index.html

!/info
/info/*
!/info/hinemos

!/intel
/intel/*
!/intel/management
/intel/management/*
!/intel/management/wsman
/intel/management/wsman/*
!/intel/management/wsman/intel-wsman

!/org
/org/*

!/org/sblim
/org/sblim/*
!/org/sblim/wbem
/org/sblim/wbem/*
!/org/sblim/wbem/sblimCIMClient

!/org/snmp4j
/org/snmp4j/*
!/org/snmp4j/snmp4j

!/org/eclipse
/org/eclipse/*
!/org/eclipse/persistence
/org/eclipse/persistence/*
!/org/eclipse/persistence/javax.persistence
